{% extends 'base.html.twig' %}

{% block title %}Ajouter une classe{% endblock %}

{% block body %}
    <h1>Ajouter une nouvelle classe</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn">Ajouter</button>
    {{ form_end(form) }}

    <a href="{{ path('classe_index') }}">Retour à la liste</a>
{% endblock %}
